<%- include("templates/head") %> 
<link rel="stylesheet" href="/css/bootstrap.css"">
.<div class="container">


    <div class="mask d-flex align-items-center h-100" size="5">


        <div class="container">
            
            <div class="row justify-content-center">
                
                <div class="col-xl-5 col-md-8">
                    <form  class="bg-white  rounded-5 shadow-5-strong p-5" action="/home/create" method="POST">
                        <h1 class="row justify-content-center">Nuevo Registro</h1>
                        <br/>
                        <input type="text" placeholder="New Concept" class="form-control my-2" name="concept" required>
                        <input type="text" placeholder="Amount" class="form-control my-2" name="amount"required>
                        <input  placeholder="Date" class="form-control my-2" name="date" required class="textbox-n" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
                    
                        
                       <select placeholder="New Concept" name="type" id="" class="form-control my-2" required>
                        <option value="">Select Type</option>
                        <option value="ingreso">Ingreso</option>
                           <option value="egreso">Egreso</option>
                       </select>
                        <br/>
                        <button class="form-control my-2" type="submit" style="background-color: blueviolet; color: white;">Agregar</button> 
                        <a href="/home" class="form-control my-2" style="text-decoration: none; text-align: center; background-color: blueviolet; color: white;">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>